<tr>
  <td>
    <input type="hidden" name="item_id_{{id}}" value="{{id}}" />
    <label for="item_name_{{id}}">Name</label>
    <input name="item_name_{{id}}" type="text" />
  </td>
  <td>
    <label for="item_stock_number_{{id}}">Stock Number</label>
    <input name="item_stock_number_{{id}}" type="text" maxlength="8" />
  </td>
  <td>
    <label for="item_quantity_{{id}}">Quantity</label>
    <input name="item_quantity_{{id}}" type="number" value="1" />
  </td>
  <td>
    <a href="#" class="delete">Delete</a>
  </td>
</tr>
